<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
      <tab id="testimonial" translate="label" sortOrder="200">
            <label>vishal</label>
      </tab>
        <section id="testimonial_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Testimonial Config.</label>
            <tab>testimonial</tab>
            <resource>Bluethink_Grid::promo</resource>

            <group id="Testimonial_group2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Testimonial Configuration</label>

                    <field id="testimonial_country_required" translate="label" type="select" sortOrder="20" showInDefault="1" >
                        <label>Country is Required for</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>
                
                     <field id="testimonial_password" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label> Testimonial Password</label>
                    </field>
            </group>
        </section>
    </system>
</config>